#lista_de_menores {

    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    background-color: burlywood;

}

 #TITULO {

    color: crimson;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    background-color: darkgrey;

}


.float{
    background-image: url('/probando-con-waxilo/img/universe.jpg');
    position:fixed;
    background-size: cover;
	width:100px;
	height:100px;
	bottom:100px;
    right: 100px;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

